<p id="notice"><%= notice %></p>

<p>
  <h2><%= @bucketlist.title %></h2>
</p>

<p>Items in this bucket can be proceeded to Bucket #
	<b><%= @bucketlist.nextId %></b>
</p>

<ul>
	<% @bucketlist.items.each do |item| %>
	  <li><%= item.content %></li>
	<% end %>
</ul>

<br />
<h2>Add an item:</h2>
<%= form_for([@bucketlist, @bucketlist.items.build]) do |f| %>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :position %>
    <%= f.number_field :position %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<br />
<%= link_to 'Edit', edit_bucketlist_path(@bucketlist) %> |
<%= link_to 'Back', bucketlists_path %>
